<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id="address" class="com.mindgate.pojo.Address" -->
	<!-- scope="prototype"> -->

	<!-- <constructor-arg name="addreeeId" value="11" /> -->
	<!-- <constructor-arg name="street" value="kanjur marg" /> -->
	<!-- <constructor-arg name="city" value="Mumbai" /> -->
	<!-- <constructor-arg name="state" value="Maharastra" /> -->

	<!-- </bean> -->

	<!-- <bean id="employee" class="com.mindgate.pojo.Employee"> -->

	<!-- <constructor-arg name="employeeId" value="" /> -->
	<!-- <constructor-arg name="name" value="Nitesh Subhedar" /> -->
	<!-- <constructor-arg name="salary" value="5000" /> -->
	<!-- <constructor-arg name="homeAddress" ref="address"/> -->


	<!-- </bean> -->

	<bean id="address" class="com.mindgate.pojo.Address" scope="prototype">

		<property name="addreeeId" value="11" />
		<property name="street" value="kanjur marg" />
		<property name="city" value="Mumbai" />
		<property name="state" value="Maharastra" />

	</bean>

	<bean id="employee1" class="com.mindgate.pojo.Employee" scope="prototype">
	
		<property name="employeeId" value="101" />
		<property name="name" value="Nitesh Subhedar" />
		<property name="salary" value="5000" />
		<property name="homeAddress" ref="address" />
	</bean>


</beans>